<a href="/user/add">Ajouter un nom</a>
<h1>Liste des utilisateurs</h1>
<ul>
    <% for (let i = 0 ;  i < users.length ; i++) { %>
    <li><%= users[i].lastname %> <%= users[i].firstname %> 
        <a href="/user/update/<%= users[i].iduser %>">Modifier</a> 
        <a href="/user/delete/<%= users[i].iduser %>">Effacer</a>
    </li> 
    <% } %>
</ul>